body{
    padding-top: 56px;
    /* background: url("../img/fondo.jpeg") repeat; */
    background-color: white;
}

nav {
    
    /* background-color: #F9DC5C; */
    /* background-color: #F0E68C; */
    background: url("../img//fondo-dorado.jpg") repeat;
    background-position: center;
    /* background-image: linear-gradient(#F9DC5C, #F0E68C); */
}

a {
    color: black !important;
}



