body{
    padding-top: 56px;
    background: url("../img/fondo.jpeg") repeat;
}

nav {
    
    /* background-color: #F9DC5C; */
    background-color: #F0E68C;
}

a {
    color: black !important;
}



