body{
    /* background: url("../img/fondo.jpeg") repeat; */
    background-color: #F8F9FA;
}

nav {
    
    /* background-color: #F9DC5C; */
    /* background-color: #F0E68C; */
    background: url("../img//fondo-dorado.jpg") repeat;
    background-position: center;
    /* background-image: linear-gradient(#F9DC5C, #F0E68C); */
}

footer {
    background: url("../img//fondo-dorado.jpg") repeat;
    background-position: center;
}

a {
    color: black !important;
}

.btn-fondo-gold{
    background: url("../img//fondo-dorado.jpg") repeat;
    background-position: center;
}

@font-face {
    font-family: rolling_out;
    src: url(RollingOut.ttf);
}

#dulce_luna_logo,#dulce_luna_h1,#dulce_luna_h3 {
    font-family: rolling_out;
    color:black;
    font-size: 50px;
}

#p_error{
   
   font-size: 15px;
}

#img_visor{
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 95%;
    position: fixed;
}

.large_img{
    height: 100%;
    width: 100%;
}




